@charset "utf-8";

/* 浏览器样式清除 reset */
body,form,div,span,ul,ol,li,p,pre,dl,dt,dd,h1,h2,h3,h4,h5,h6,em,a,fieldset,legend,address,label,textarea,select,input,figure,table,th,td,b,i{margin:0;padding:0;}
body, button, input, select, textarea{ font:12px/1.5 Tahoma,Arial,'宋体'; }
fieldset,img{border:0;}
ul,li{list-style:none;}
em,i{font-style:normal;}
table{border-collapse:separate;border-spacing:0;}
a{text-decoration:none;}
a:hover{ text-decoration:underline;}
a:focus,input,button,select,textarea{outline:none; font-size:100%;}
h1,h2,h3,h4,h5,h6{ font-size:100%; font-variant: normal;}
input,select,img{ vertical-align:middle;}
legend{ display:none;}
textarea{resize:none;}
button {cursor:pointer;}

html,body{ height:100%; width:100%; overflow:hidden; position: relative;}
.con_wrap{ display:block; height:100%; width:100%; position:absolute; left:0px; top:0px; z-index:10;}
.con_wrap .main_title{ display:block; height:25px; width:209px; background:url(../images/main_title.png) no-repeat 0 0; background-size:contain; position:absolute; left:50%; top:218px; margin-left:-139px; text-indent:-9999px; overflow:hidden;}
.con_wrap .sub_title{ display:block; height:38px; width:119px; background:url(../images/sub_title.png) no-repeat 0 0; background-size:contain; position:absolute; left:50%; bottom:148px; margin-left:-139px; text-indent:-9999px; overflow:hidden;}

.page_arrow{ display:block; height:19px; width:25px; background:url(../images/page_arrow.png) no-repeat 0 0; position:absolute; left:50%; margin-left:-12px; bottom:20px; z-index:10; background-size:contain; text-indent:-9999px; overflow:hidden;}

.con_wrap .page_title{ display:block; color:#f4f1e7; font-size:16px; font-weight:bold; font-family:'microsoft yahei'; position:absolute; left:50px; top:50px;}
.con_wrap .foreword{ display:block; color:#f4f1e7; font-size:14px; font-weight:normal; font-family:'microsoft yahei'; position:absolute; left:50px; top:50%; margin-top:-105px; line-height:2; letter-spacing:1px;}


.wrap_show{ display:block;}
.wrap_prepare{ display:none;}
























.num{ display:block; height:50px; width:350px; position:absolute; left:0px; top:0px; z-index:10; background:rgba(255,255,255,0.5); text-align:center; line-height:50px; font-size:32px; color:#000; font-family:'Arial';}





































































