@charset "utf-8";
@import url("global.css");

.head_wrap_campus{ background:#60bb3f;}
.head_wrap_campus .menu_list li a{ color:#c6ffb6;}
.head_wrap_campus .link_name{ color:#c6ffb6;}













































