@charset "utf-8";

/* 浏览器样式清除 reset */
body,form,div,span,ul,ol,li,p,pre,dl,dt,dd,h1,h2,h3,h4,h5,h6,em,a,fieldset,legend,address,label,textarea,select,input,figure,table,th,td,b,i{margin:0;padding:0;}
body, button, input, select, textarea{ font:12px/1.5 Tahoma,Arial,'宋体'; }
fieldset,img{border:0;}
ul,li{list-style:none;}
em,i{font-style:normal;}
table{border-collapse:separate;border-spacing:0;}
a{text-decoration:none;}
a:hover{ text-decoration:underline;}
input,button,select,textarea{outline:none; font-size:100%;}
h1,h2,h3,h4,h5,h6{ font-size:100%; font-variant: normal;}
input,select,img{ vertical-align:middle;}
legend{ display:none;}
textarea{resize:none;}
button {cursor:pointer;}

.mask{ display:block; height:100%; width:100%; background:rgba(0,0,0,0.3); position: fixed; left:0px; top:0px; z-index:99;}
.pop_wrap{ display:block; height:270px; width:470px; background:#fff; position: fixed; left:50%; top:50%; margin-top:-150px; margin-left:-250px; box-shadow:0px 0px 5px rgba(0,0,0,0.5); z-index:100; }
.pop_wrap .pop_title{ display:block; height:50px; width:100%; background:#f2f2f2; color:#2d2d2d; border-bottom:1px solid #d6d6d6; line-height:50px; position:relative;}
.pop_wrap .pop_title .title{ margin-left:18px; font-size:16px; font-family:'microsoft yahei'; font-weight:normal;}
.pop_wrap .pop_title .link_close{ display:block; height:16px; width:16px; background:url(../images/global/pop/icon_close.png) no-repeat 0 0; position:absolute; right:18px; top:18px; text-indent:-9999px; overflow:hidden;}

.pop_wrap .pop_con{}
.pop_wrap .pop_con .icon_alert{ display:block; height:46px; width:46px; background: url(../images/global/pop/icon_alert.jpg) no-repeat 0 0; margin:40px 15px 0 46px; text-indent:-9999px; overflow:hidden; float:left;}
.pop_wrap .pop_con .pop_detail{ display:block; float:left; margin-top:36px; width:300px; height:105px;}
.pop_wrap .pop_con .pop_detail .pop_sub_tit{ font-size:18px; font-family:'microsoft yahei'; font-weight:normal; margin-bottom:5px;}
.pop_wrap .pop_con .pop_detail .pop_sub_txt{ font-size:14px; font-family:'microsoft yahei';}
.pop_wrap .pop_con .btn_wrap{ clear:both; text-align:center; margin-bottom:0px;}
.pop_wrap .pop_con .btn_wrap .btn{ height:38px; line-height:38px; width:120px;}
.pop_wrap .pop_con .btn_cancel{ background:#f2f2f2; border:1px solid #d8d8d8; color:#2c2c2c; margin-right:10px;}

































