@charset "utf-8";

/* 浏览器样式清除 reset */
body,form,div,span,ul,ol,li,p,pre,dl,dt,dd,h1,h2,h3,h4,h5,h6,em,a,fieldset,legend,address,label,textarea,select,input,figure,table,th,td,b,i{margin:0;padding:0;}
body, button, input, select, textarea{ font:12px/1.5 Tahoma,Arial,'宋体'; }
fieldset,img{border:0;}
ul,li{list-style:none;}
em,i{font-style:normal;}
table{border-collapse:separate;border-spacing:0;}
a{text-decoration:none;}
a:hover{ text-decoration:underline;}
a:focus,input,button,select,textarea{outline:none; font-size:100%;}
h1,h2,h3,h4,h5,h6{ font-size:100%; font-variant: normal;}
input,select,img{ vertical-align:middle;}
legend{ display:none;}
textarea{resize:none;}
button {cursor:pointer;}

body,html{ display:block; height:100%; width:100%;}
.head_wrap{ display:block; height:93px; width:100%; background:#2a5eab;}
.head{ display:block; height:93px; width:1000px; margin:0 auto; position:relative;}
.head .logo a{ display:block; display:block; height:30px; width:150px; background:url(../images/global/logo.png) no-repeat 0 0; text-indent:-9999px; overflow:hidden; position:absolute; top:26px;}
.head_wrap_index{ margin-bottom:-93px; background:none; position:relative; z-index:2;}

.menu_list{ display:block; width:480px; position:absolute; right:194px; top:31px;}
.menu_list li{ display:block; width:120px; height:30px; float:left; text-align:right;}
.menu_list li a{ font-size:16px; font-family:"microsoft yahei"; color:#a0c6ff; padding-bottom:3px;}
.menu_list li a:hover{ text-decoration:none;}
.menu_list li.current a{ color:#fff; border-bottom:2px solid #fff;}

.link_login{ display:block; height:30px; width:84px; border:1px solid #a0c6ff; text-align:center; line-height:30px; font-size:16px; font-family:"microsoft yahei"; color:#a0c6ff; position:absolute; right:0px; top:27px;}
.link_name{ display:block; height:30px; width:140px;  text-align:right; line-height:30px; font-size:14px; font-family:"microsoft yahei"; color:#a0c6ff; position:absolute; right:0px; top:27px;}
.link_name .name{ width:125px; text-overflow:ellipsis; overflow:hidden; white-space:nowrap;}
.link_name .icon_arrow{ display:block; height:4px; width:7px; background:url(../images/index/icon_arrow_2.png) no-repeat 0 0; position:absolute; right:0px; top:13px;}

.banner{ display: block; height:560px; width:100%; background:#1d3d78 url(../images/index/banner.jpg) no-repeat center 0; position:relative;}
.banner .banner_slogan{ display:block; width:503px; height:92px; background:url(../images/index/slogan.png) no-repeat 0 0; position:absolute; left:50%; top:165px; margin-left:-251px; text-indent:-9999px; overflow:hidden;}

.search_wrap{ display:block; height:57px; width:635px; position:absolute; left:50%; margin-left:-317px; top:252px;}
.search_wrap .search_area{ display:inline; height:57px; width:133px; background:#fff; margin-right:1px; float:left;}
.search_wrap .search_area .sel_search{ display:block; height:57px; width:133px; text-align:center; font-size:16px; font-family:'microsoft yahei'; line-height:57px; position:relative; color:#2c2c2c;}
.search_wrap .search_area .sel_search .icon_arrow{ display:block; height:5px; width:9px; background:url(../images/index/icon_arrow.png) no-repeat 0 0; position:absolute; right:20px; top:26px;}
.key_list li a{ display:block; background:rgba(255,255,255,0.95); height:57px; width:133px; text-align:center; font-size:16px; font-family:'microsoft yahei'; line-height:57px; margin-top:1px; color:#2c2c2c;}
.key_list li a:hover{ text-decoration:none;}

.search_wrap .ipt_area{ display:block; height:57px; width:421px; float:left; background:#fff;}
.search_wrap .ipt_area .ipt_job{ display:block; height:57px; width:381px; background:none; border:none; padding:0 20px; font-size:16px; font-family:'microsoft yahei'; color:#bfbfbf;}
.search_wrap .ipt_area .ipt_job:focus{ color:#2c2c2c;}


.search_wrap .btn_search{ display:block; height:57px; width:80px; background:#2dcc4f; float:left; position:relative; text-indent:-9999px; overflow:hidden;}
.search_wrap .btn_search .icon_search{ display:block; height:32px; width:32px; background:url(../images/index/icon_search.png) no-repeat 0 0; position:absolute; left:50%; margin-left:-16px; top:12px;}

.banner_penguin{ display:block; height:181px; width:151px; background:url(../images/index/banner_penguin.png) no-repeat 0 0; z-index:2; position:absolute; left:50%; margin-left:-75px; bottom:-23px; }

.job_sort_wrap{ display:block; width:1000px; margin:50px auto 100px; margin-top:100px; position:relative;}
.job_sort_wrap .title_area{ margin-bottom:50px;}
.job_sort_wrap .title_area .title{ display:inline-block; font-size:24px; font-family:'microsoft yahei'; color:#2a5eab; margin-right:3px;}
.job_sort_wrap .title_area .title_en{ display:inline-block; font-size:16px; font-family:'Arial'; color:#bfbfbf; position:relative; top:3px;}

.job_con{}
.job_con .job_list{ overflow:hidden;}
.job_con .job_list .job_item{ display:inline; float:left; margin-right:10px; width:156px; height:156px; border:1px solid #e3e3e3; position:relative;}
.job_con .job_list .job_item .pic{ display:block; height:90px; width:156px; background:url(../images/index/icon_sort_1.png) no-repeat 0 0;}
.job_con .job_list .job_item .pic_2{ background-image:url(../images/index/icon_sort_2.png);}
.job_con .job_list .job_item .pic_3{ background-image:url(../images/index/icon_sort_3.png);}
.job_con .job_list .job_item .pic_4{ background-image:url(../images/index/icon_sort_4.png);}
.job_con .job_list .job_item .pic_5{ background-image:url(../images/index/icon_sort_5.png);}
.job_con .job_list .job_item .pic_6{ background-image:url(../images/index/icon_sort_6.png);}

.job_con .job_list .job_item .job_tit{ text-align:center; font-size:16px; font-weight:bold; font-family:'microsoft yahei'; color:#5f5f5f;}
.job_con .job_list .job_item .job_tit_en{ text-align:center; font-size:12px; font-family:'Arial'; color:#bfbfbf;}
.job_con .job_list .job_item .hook_line{ display:block; height:4px; background:#2a5eab; width:158px; position:absolute; bottom:-1px; left:-1px;}
.job_con .job_list .job_item_2 .hook_line{ background:#1ca5ec;}
.job_con .job_list .job_item_3 .hook_line{ background:#29c7be;}
.job_con .job_list .job_item_4 .hook_line{ background:#ebb615;}
.job_con .job_list .job_item_5 .hook_line{ background:#ea7332;}
.job_con .job_list .job_item_6 .hook_line{ background:#c32525;}
.job_con .job_list .job_item_6{margin-right:0px;}

.qr_code_wrap{ display:block; height:36px; width:36px; position: absolute; right:-73px; bottom:-1px;}
.qr_code_wrap .qr_code_link{ display:block; height:36px; width:36px;}
.qr_code_wrap .icon_qr_code{ display:block; height:36px; width:36px; background:url(../images/index/scan_qr_code.png) no-repeat 0 0;}
.qr_code_wrap .pop_qr_code{ display:block; height:110px; width:90px; text-align:center; border:1px solid #dadada; position:absolute; left:-28px; top:-123px; opacity:0;}
.qr_code_wrap .pop_qr_code .qr_img{ display:inline-block; height:64px; width:64px; margin-top:5px; margin-bottom:5px;}
.qr_code_wrap .pop_qr_code .detail{ display:block; text-align:center; font-size:12px; color:#000; font-family:'microsoft yahei'; line-height:1.3;}
.qr_code_wrap .qr_code_link:hover .icon_qr_code{ background-image:url(../images/index/scan_qr_code_hover.png);}
.qr_code_wrap .qr_code_link:hover .pop_qr_code{ opacity:1;}

.footer{ display:block; height:105px; width:1000px; margin:0px auto; text-align:center; position:relative; border-top:1px solid #e6e6e6;}
.footer .slogan{ display:block; width:127px; height:14px; background:url(../images/global/foot_slogan.png) no-repeat 0 0; position:absolute; left:50%; top:25px; margin-left:-63px; text-indent:-9999px; overflow:hidden;}
.footer .copyright{ display:block; font-size:14px; font-family:'Arial'; color:#bfbfbf; margin-top:50px;}

/*详情页*/

.detail_con .search_wrap{ width:800px; position: relative; top:0; left:0; margin:55px auto 50px; z-index:2;}
.detail_con .search_wrap .search_area{ border:1px solid #e4e4e4; height:44px; width:135px; margin-right:10px;}
.detail_con .search_wrap .search_area .sel_search{ height:44px; line-height:44px; width:135px;}
.detail_con .search_wrap .search_area .sel_search .icon_arrow{ top:20px;}
.detail_con .key_list{ margin-left:-1px; margin-top:2px; display:none;}
.detail_con .key_list li a{ height:44px; line-height:44px; border:1px solid #e4e4e4; width:135px;}
.detail_con .search_wrap .ipt_area{ border:1px solid #e4e4e4; width:382px; height:44px; margin-right:10px;}
.detail_con .search_wrap .ipt_area .ipt_job{ width:382px; height:44px;}
.detail_con .search_wrap .btn_search{ height:44px; width:77px; border:1px solid #20b540;}
.detail_con .search_wrap .btn_search .icon_search{ top:10px; background:url(../images/index/icon_search_2.png) no-repeat 0 0; width:26px; height:24px; margin-left:-11px;}

.detail_con .search_wrap .search_area_2{ width:168px;}
.detail_con .search_wrap .search_area_2 .sel_search{ width:168px;}
.detail_con .search_wrap .search_area_2 .key_list{ width:168px;}
.detail_con .search_wrap .search_area_2 .key_list li a{ width:168px;}


.job_detail_wrap{ display:block; width:800px; margin:0px auto;}
.job_detail_wrap .title_area{ display:block; width:100%; background:#e1ecfb;}
.job_detail_wrap .title_area .tit{ display:block; height:40px; line-height:40px; font-size:16px; font-weight: normal; font-family:'microsoft yahei'; color:#2c2c2c; margin-left:20px;}

.basic_info_list{ overflow:hidden; display:block;}
.basic_info_list li{ float:left; display:inline; width:30%; text-align:left; font-size:14px; font-family:'microsoft yahei'; padding-left:20px; margin:20px 0 20px;}
.script_info{ padding-left:20px;}
.script_info .tit{ font-size:16px; font-family:'microsoft yahei'; color:#2c2c2c; margin-bottom:5px;}
.script_info .txt{ font-size:14px; font-family:'microsoft yahei'; color:#2c2c2c; margin-bottom:40px;}

.btn_wrap{ margin-bottom:200px;}
.btn_wrap .btn{ display:block; height:45px; width:140px; background:#1ca5ec; border:1px solid #168fce; color:#fff; text-align:center; line-height:45px; font-size:16px; font-family:'microsoft yahei';}

/*详情页*/





