@charset "utf-8";

.main{ width:1200px; margin:45px auto 70px; overflow:hidden;}
.article_content{width: 980px; color:#5e6267;}
.article_content p{ line-height:2;}

.path_area{ margin-bottom:20px;}
.path_area a{ color:#5e6267; text-decoration:none;}

.architect_item .architect_title{ height:24px; width:100%; background:#f2f8fc; line-height:24px; color:#000; margin:20px auto;}
.architect_item .architect_title .tit_short{ height:24px; width:56px; background:#0075bc; color:#fff; font-size:18px; font-family:'microsoft yahei'; font-weight:normal; text-align:center; float:left; margin-right:10px;}
.architect_item .architect_title .tit_total{ font-weight:normal; font-size:16px; font-family:'microsoft yahei';}






















































































